<head>

	<title>{{ .Title }} | PTWGJM</title>
	<link rel="stylesheet" href="/css/main.css" />
<meta name="Description" content="{{ .Title }} Testing this for ptwgjm test site">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->

	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Testing this for PTWGJM">
	<meta property="og:url" content="/">


	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
